<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="center-top-toolbar">
      <ion-buttons style="margin-left:1rem;margin-right: 1rem;" slot="start">
        <ion-icon name="menu"  (click)="openMenu()" size="large"></ion-icon>
      </ion-buttons>
      <ion-buttons >
        <ion-title>EPI Security</ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon name="wifi" size="large"></ion-icon>
      </ion-buttons>
      <ion-buttons style="margin-left:1rem;margin-right: 1rem;" slot="end">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-buttons>
    </div>
    <div class="buttons">
      <div #NerBy class="background_nearby" [class.NerBy]="selectedDiv === 'NerBy'" (click)="selectDiv('NerBy')" > 
        <ion-label>Near By</ion-label>
      </div>
      <div #History class="background_history" [class.History]="selectedDiv === 'History'" (click)="selectDiv('History')"> 
        <ion-label>History</ion-label>
      </div>
      <div #Favorites class="background_favorites" [class.Favorites]="selectedDiv === 'Favorites'" (click)="selectDiv('Favorites')"> 
        <ion-label>Favorites</ion-label>
      </div>
    </div>
    
    <!-- <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu> -->
    
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navEPIPage()">EPI Security</ion-item>
      <ion-item>Radar Map</ion-item>
      <ion-item>Comming Soon...</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content [fullscreen]="true">

  <!--
    name
    address
    id
    class
  -->

  <!--
    <ion-button (click)="scanDevices()">Buscar Dispositivos</ion-button>
  <ion-list>
    <ion-item *ngFor="let device of devices">
      {{ device.name }} - RSSI: {{ device.rssi }}
    </ion-item>
  </ion-list>

  -->
  
  <div class="center-content" id="main-content">
    <ion-button (click)="activateBluetooth()">Ativar Bluetooth</ion-button>
    <ion-button (click)="scanForDevices()">Scan for Devices</ion-button>
  
  
    <!-- <h2>Função activateBluetooth</h2> -->
    <div *ngFor="let device of devices">
      <h3>{{ device.name }}</h3>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
      <!-- <ion-button (click)="connect(device.address)">Conectar</ion-button> -->
      <div class="buttons_devices">
        <ion-button (click)="selectDevice(device)">Select</ion-button>
        
        <ion-icon *ngIf="isDeviceSelected(device.id)" style="color:#55ffba;" name="bluetooth" size="large"></ion-icon>
      </div>
    </div>
  
    <h2 *ngIf="devicesSelected.length > 0">Devices Selected</h2>
    <ion-list>
      <ion-item *ngFor="let device of devicesSelected">
        <ion-label>{{ device.name || 'Unnamed Device' }}</ion-label>
        <ion-label>{{ device.rssi || 'RSSI fora de alcanse' }}</ion-label>
      </ion-item>
    </ion-list>
    
    <div *ngIf="devices.length === 0">
      <p>Nenhum aparelho ao alcance...</p>
    </div>
    
    <p>{{ activateBluetoothError }}</p>
    <p>{{ scanDevicesError }}</p>
    
  </div>
</ion-content>

<div class="tabs">
  <ion-tab-bar class="buttons_bottom_Scanner" slot="bottom" [class.buttons_bottom_Scanner_Clicked]="buttonsBottom === 'Scanner'">
    <ion-tab-button class="buttons_bottom_Scanner" [class.buttons_bottom_Scanner_Clicked]="buttonsBottom === 'Scanner'" (click)="selectButtons('Scanner')">
      Scanner
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar class="buttons_bottom_Peripheral" slot="bottom" [class.buttons_bottom_Peripheral_Clicked]="buttonsBottom === 'Peripheral'">
    <ion-tab-button class="buttons_bottom_Peripheral" [class.buttons_bottom_Scanner_Clicked]="buttonsBottom === 'Peripheral'" (click)="selectButtons('Peripheral')">
      Peripheral
    </ion-tab-button>
  </ion-tab-bar>
</div>

